<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">Invoice Management</ui:define>
		
		<ui:define name="content">
			
			<h:form styleClass="ui form">
				
				<h:panelGrid columns="2">
					
					<h:outputLabel value="Invoice Number" />
					<h:inputText value="#{invoiceAddBean.invoice.invoiceNumber}" />
								
					<h:outputLabel value="Customer Name" />
					<h:inputText value="#{invoiceAddBean.invoice.customer}" />

					<h:outputLabel value="Contact Phone" />
					<h:inputText value="#{invoiceAddBean.invoice.phone}" />
					
					<h:outputLabel value="" />
					<h:panelGroup>
						<ui:repeat var="p" value="#{invoiceAddBean.invoice.products}">
							<div class="three fields">
								<div class="field">
									<h:inputText value="#{p.name}" />
								</div>
								<div class="equal fields">
									<div class="field">
										<h:inputText value="#{p.unitPrice}" >
											<f:ajax execute="@form" render="@form" />
										</h:inputText>
									</div>
									<div class="field">
										<h:inputText value="#{p.count}" >
											<f:ajax execute="@form" render="@form" />
										</h:inputText>
									</div>
									<div class="field">
										<h:inputText disabled="true" value="#{p.total}" />
									</div>
								</div>
								<div class="field">
									<h:commandLink styleClass="ui icon button" actionListener="#{invoiceAddBean.add()}" >
										<i class="plus icon"></i>
										<f:ajax execute="@form" render="@form" />
									</h:commandLink>
									<h:commandLink styleClass="ui icon button" actionListener="#{invoiceAddBean.remove(p)}" >
										<i class="minus icon"></i>
										<f:ajax execute="@form" render="@form" />
									</h:commandLink>
								</div>
							</div>
						</ui:repeat>
					</h:panelGroup>

					<h:outputLabel value="Sub Total" />
					<h:inputText value="#{invoiceAddBean.invoice.subTotal}" disabled="true" />

					<h:outputLabel value="Tax" />
					<h:inputText value="#{invoiceAddBean.invoice.tax}" disabled="true" />

					<h:outputLabel value="Total" />
					<h:inputText value="#{invoiceAddBean.invoice.total}" disabled="true" />

					<h:outputLabel value="" />
					<h:panelGroup>
						<h:commandButton styleClass="ui blue button" actionListener="#{invoiceAddBean.clear()}" value="Clear" >
							<f:ajax execute="@this" render="@form" />
						</h:commandButton>
						
						<h:commandButton styleClass="ui red button" action="#{invoiceAddBean.save()}" value="Save" />
					</h:panelGroup>

				</h:panelGrid>

			</h:form>
			
		</ui:define>
	</ui:composition>
</html>