<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
		
		<ui:define name="title">Invoice List</ui:define>
		
		<ui:define name="content">
			<h:form styleClass="ui form">
				
				<div class="five fields">
					
					<div class="field">
						<label>Customer</label>
						<h:inputText value="#{invoiceListBean.search.name}" />
					</div>
					
					<div class="field">
						<label>Phone</label>
						<h:inputText value="#{invoiceListBean.search.phone}" />
					</div>

					<div class="field">
						<label>Price From</label>
						<h:inputText value="#{invoiceListBean.search.priceFrom}" />
					</div>

					<div class="field">
						<label>Price To</label>
						<div class="field">
							<h:inputText value="#{invoiceListBean.search.priceTo}" />
						</div>
					</div>
					
					<div class="field">
						<h:commandButton value="Search" actionListener="#{invoiceListBean.search()}" styleClass="ui button" >
							<f:ajax execute="@form" render="@all" />
						</h:commandButton>
						<h:button outcome="/create-invoice" value="Add New" styleClass="ui blue button"  />
					</div>

				</div>
				
			</h:form>
			
			<h:dataTable value="#{invoiceListBean.list}" var="item" styleClass="ui table">
				
				<h:column>
					<f:facet name="header">ID</f:facet>
					#{item.invoiceNumber}
				</h:column>
			
				<h:column>
					<f:facet name="header">Date</f:facet>
					#{item.invoiceDate}
				</h:column>

				<h:column>
					<f:facet name="header">Customer</f:facet>
					#{item.customer}
				</h:column>

				<h:column>
					<f:facet name="header">Phone</f:facet>
					#{item.phone}
				</h:column>

				<h:column>
					<f:facet name="header">Sub Total</f:facet>
					#{item.subTotal}
				</h:column>

				<h:column>
					<f:facet name="header">Tax</f:facet>
					#{item.tax}
				</h:column>

				<h:column>
					<f:facet name="header">Total</f:facet>
					#{item.total}
				</h:column>

			</h:dataTable>
			
			
		</ui:define>
	
	</ui:composition>
</html>