<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title><ui:insert name="title"></ui:insert> | Account</title>
	
	<link rel="stylesheet" href="../resources/css/semantic.css" />
	<link rel="stylesheet" href="../resources/css/application.css" />
	
	<h:outputStylesheet library="css" name="semantic.css" />
	<h:outputStylesheet library="css" name="application.css" />
	
	<h:outputScript library="js" name="jquery.min.js"></h:outputScript>
	<h:outputScript library="js" name="semantic.min.js"></h:outputScript>
	
</h:head> 
<body> 

	<ui:insert name="navigation">

		<div class="ui top attached menu">
			<div class="ui container">
				<div class="menu">
					<h:link outcome="/index" styleClass="item" value="Accounting Home" />
				</div>
				
				<h:form styleClass="left menu" rendered="#{request.isUserInRole('Admin')}">
					<h:link styleClass="item" outcome="/views/admin/members" value="Members"/>
					<h:link styleClass="item" outcome="/views/admin/categories" value="Categories"/>
				</h:form>	
				
				<h:form styleClass="left menu" rendered="#{request.isUserInRole('Member')}">
					<h:link styleClass="item" outcome="/views/member/balance-edit" value="Add Balance"/>
					<h:link styleClass="item" outcome="/views/member/balances" value="Blanace List"/>
				</h:form>	

				<h:form styleClass="right menu">
					<h:commandLink action="#{securityBean.signOut()}" styleClass="ui icon item" >
						<i class="icon log out"></i> Log Out 
					</h:commandLink>
				</h:form>
			</div>
		</div>
		
	</ui:insert>
	
	<div class="ui container">
		<ui:insert name="content"></ui:insert>
	</div>
	
	<h:panelGroup id="commonScript">
		<h:outputScript>
			$(function(){
				$(".ui.dropdown").dropdown();
			});
		</h:outputScript>
	</h:panelGroup>

</body> 
</html>
