<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title"><h3><i class="calculator icon"></i> Tiny POS</h3></ui:define>
		
		<ui:define name="content">
			
			<div class="ui four cards">
				
				<ui:repeat var="c" value="#{indexBean.categories}">
				
					<div class="card">
						
						<div class="content">
							<i class="tag icon"></i>
							#{c.name}
						</div>
						
						<div class="extra">
							<h:link outcome="/public-products">
								<f:param name="cat" value="#{c.id}" />
								<i class="gift icon"></i>
								Product Count #{c.productCount}
							</h:link>
						</div>						
					
					</div>
				</ui:repeat>
				
			</div>
		
		</ui:define>
	</ui:composition>
</html>