<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">
			<h3><i class="tag icon"></i> #{publicProductsBean.category.name}</h3>
		</ui:define>
		
		<ui:define name="content">
			
			<div class="ui four cards">
				
				<ui:repeat var="p" value="#{publicProductsBean.products}">
				
					<div class="card">
						
						<div class="content">
							<i class="gift icon"></i>
							#{p.name}
						</div>
						
						<div class="extra">
							<h:link >
								<i class="dollar sign icon"></i>
								#{p.id}
							</h:link>
						</div>						
					
					</div>
				</ui:repeat>
				
			</div>
		
		</ui:define>
	</ui:composition>
</html>