<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">Sign Up</ui:define>
		
		<ui:define name="navigation"></ui:define>
		
		<ui:define name="content">
			
			<div class="marTop120"></div>

			<div class="ui three column centered grid">
					
				<div class="column">
					<div class="ui padded raised segment">
						<h4 class="ui header">
							<i class="icon user plus"></i> Member Sign Up
						</h4>
						
						<h:form styleClass="ui form">
						
							<h:messages style="list-style:none;" showDetail="false" showSummary="true"/>
							
							<div class="field">
								<label>Name</label>
								<div class="ui right icon input">
									<i class="icon user "></i>
									<h:inputText value="#{securityBean.name}" 
										required="true" requiredMessage="Please enter Member Name."/>
								</div>
							</div>

							<div class="field">
								<label>Login Id</label>
								<div class="ui right icon input">
									<i class="icon user circle"></i>
									<h:inputText value="#{securityBean.loginId}"
										required="true" requiredMessage="Please enter Login Id." />
								</div>
							</div>
							
							<div class="field">
								<label>Password</label>
								<div class="ui right icon input">
									<i class="icon key"></i>							
									<h:inputSecret value="#{securityBean.password}"
										rendered="true" requiredMessage="Please enter password." />
								</div>
							</div>
							
							<div>
								
								<h:commandLink styleClass="ui blue button" action="#{securityBean.signUp()}" >
									<i class="icon user plus"></i>
									Sign Up 
								</h:commandLink>

								<h:link styleClass="ui red button" outcome="/index">
									<i class="icon sign in"></i>
									Sign In 
								</h:link>
								
							</div>
							
						</h:form>
					</div>
				</div>
				
			</div>			
			
		</ui:define>
	</ui:composition>
</html>