<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
		
		<ui:define name="title">Attendance Report</ui:define>
		
		<ui:define name="content">
			
			<!-- Page Title -->
			<h2>Attendance Report</h2>
			
			<!-- search form -->
			<h:form styleClass="ui form">
				
				<div class="six fields">
					
					<div class="field">
						<label>Education Year</label>
						<h:selectOneMenu  styleClass="ui fluid dropdown">
							<f:selectItem noSelectionOption="true" itemValue="Select One"/>
						</h:selectOneMenu>
					</div>
					
					<div class="field">
						<label>Grade</label>
						<h:selectOneMenu  styleClass="ui fluid dropdown">
							<f:selectItem noSelectionOption="true" itemValue="Select One"/>
						</h:selectOneMenu>
					</div>

					<div class="field">
						<label>Status</label>
						<h:selectOneMenu  styleClass="ui fluid dropdown">
							<f:selectItem noSelectionOption="true" itemValue="Select One"/>
						</h:selectOneMenu>
					</div>

					<div class="field">
						<label>Date From</label>
						<h:inputText p:type="date" value="" />
					</div>

					<div class="field">
						<label>Date To</label>
						<h:inputText p:type="date" value="" />
					</div>
					
					<div class="field">
						<div class="marTop24"></div>
						<h:commandLink styleClass="ui icon button">
							<i class="icon search"></i> Search
						</h:commandLink>
					</div>

				</div>
				
			</h:form>
			<div class="marTop24"></div>
			
			<!-- Result Table -->
			<h:dataTable styleClass="ui very basic table">
				
				<h:column>
					<f:facet name="header">Year</f:facet>
				</h:column>
			
				<h:column>
					<f:facet name="header">Grade</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Roll Number</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Name</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Date</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Status</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Remark</f:facet>
				</h:column>

			</h:dataTable>
			
		</ui:define>

	</ui:composition>
</html>