<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">

		<ui:define name="title">Student List</ui:define>
		
		<ui:define name="content">
			
			<!-- Page Title -->
			<h2>Student List</h2>
			
			<!-- Search Form -->
			<h:form styleClass="ui form">
				
				<div class="five fields">
					
					<div class="field">
						<label>Division</label>
						<h:selectOneMenu value="" styleClass="ui dropdown">
							<f:selectItem noSelectionOption="true" itemValue="Select One"/>
						</h:selectOneMenu>
					</div>
					
					<div class="field">
						<label>Township</label>
						<h:selectOneMenu value="" styleClass="ui dropdown">
							<f:selectItem noSelectionOption="true" itemValue="Select One"/>
						</h:selectOneMenu>
					</div>

					<div class="field">
						<label>Name</label>
						<h:inputText value="" />
					</div>
	
					<div class="field">
						<label>Phone</label>
						<h:inputText value="" />
					</div>
					
					<div class="field">
						<div class="marTop24"></div>
						<h:commandLink styleClass="ui icon button">
							<i class="icon search"></i> search
						</h:commandLink>
					</div>
				</div>
				
			</h:form>
			
			<div class="marTop24"></div>
			
			<!-- Table -->
			<h:dataTable styleClass="ui very basic table">
				
				<h:column>
					<f:facet name="header">ID</f:facet>
				</h:column>
				
				<h:column>
					<f:facet name="header">Name</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">NRC</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Phone</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Email</f:facet>
				</h:column>

				<h:column>
					<f:facet name="header">Address</f:facet>
				</h:column>
			</h:dataTable>
		</ui:define>
		
	</ui:composition>
</html>