<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>Invoice Management</title>
	<link rel="stylesheet" href="../resources/css/semantic.css" />
	
	<h:outputStylesheet library="css" name="semantic.css" />
	<h:outputScript library="js" name="jquery.min.js"></h:outputScript>
	<h:outputScript library="js" name="semantic.min.js"></h:outputScript>
	
</h:head> 
<body> 
	
	<div class="ui container">
		
		<h1><ui:insert name="title">Default Title</ui:insert></h1>
		
		<div class="ui hidden divider"></div>
		
		<ui:insert name="content">
			Default Contents
		</ui:insert>
		
	</div>
	
</body> 
</html>
