<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>Tiny POS</title>
	
	<link href="../resources/css/semantic.min.css" rel="stylesheet" type="text/css"/>
	<h:outputStylesheet library="css" name="semantic.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="application.css"></h:outputStylesheet>

	<h:outputScript library="js" name="jquery.min.js"></h:outputScript>
	<h:outputScript library="js" name="semantic.min.js"></h:outputScript>
</h:head> 
<body> 
	

	<div class="ui menu">
		<h:link outcome="/index" styleClass="item">
			<i class="home icon"></i> Tiny POS
		</h:link>
		
		<div class="ui dropdown item">
			
			<i class="icon list"/> Master <i class="icon dropdown"></i>
			
			<div class="menu">
				<h:link outcome="/admin/categories" styleClass="item">
					<i class="tags icon"></i> Categorys
				</h:link>
				
				<h:link outcome="/admin/purchase-shops" styleClass="item">
					<i class="building icon"></i> Shops
				</h:link>
		
				<h:link outcome="/admin/products" styleClass="item">
					<i class="gift icon"></i> Products
				</h:link>

				<h:link outcome="/admin/employees" styleClass="item">
					<i class="users icon"></i> Employees
				</h:link>

			</div>
			
		</div>
		
		<h:link outcome="/admin/purchases" styleClass="item">
			<i class="paperclip icon"></i> Purchases
		</h:link>

		<h:link outcome="/sale/sales" styleClass="item">
			<i class="cart icon"></i> Sales
		</h:link>

		<h:link outcome="/sale/inventory" styleClass="item">
			<i class="warehouse icon"></i> Warehouse
		</h:link>

		<div class="right menu">
			<h:link styleClass="item"  >
				<i class="sign in icon"></i> Login
			</h:link>
		</div>
	</div>
	
	<div class="ui container">
	
		<ui:insert name="title"></ui:insert>
	
		<h:messages id="messages" styleClass="ui message" showDetail="true" showSummary="false"/>		
		
		<ui:insert name="content"></ui:insert>
	</div>
	
	<div>
	
	</div>
	
	<h:panelGroup id="script">
		<script>
			$(function(){
				$('.dropdown').dropdown();
				$('.menu .item').tab();
			});

		</script>
	</h:panelGroup>

	<script>

		function showDialog() {
			$('.ui.modal').modal('show');
		}				

		function hideDialog() {
			$('.ui.modal').modal('hide');
		}
	</script>

</body> 
</html>
