<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="content">
			
			<!-- Search -->
			<div class="ui segment">
				<h3><i class="tags icon"></i> Category Management</h3>

				<h:form styleClass="ui form" id="searchForm">
				
				<div class="inline fields">
					<div class="field">
						<label>Name</label>
						<h:inputText value="#{categoryBean.name}" p:placeholder="Enter Name" />
					</div>
					
					<h:commandLink styleClass="ui icon button" actionListener="#{categoryBean.search()}">
						<i class="search icon"></i> Search
						<f:ajax execute="@form" render="dataTable" ></f:ajax>
					</h:commandLink>
	
					<h:commandLink styleClass="ui icon blue button">
						<i class="plus icon"></i> Add New
						<f:ajax execute="@this" render="editTitle editForm" listener="#{categoryBean.addNew()}" onevent="showDialog()"></f:ajax>
					</h:commandLink>
				
				</div>
				
				</h:form>
			</div>
			
			<!-- Table -->
			<h:form id="dataTable">
				
				<h:dataTable value="#{categoryBean.list}" var="c" styleClass="ui table">
					
					<h:column>
						<f:facet name="header">ID</f:facet>
						<h:commandLink actionListener="#{categoryBean.edit(c)}" value="#{c.id}" >
							<f:ajax execute="@this" render="editTitle editForm" onevent="showDialog()"></f:ajax>
						</h:commandLink>
					</h:column>
					
					<h:column>
						<f:facet name="header">Name</f:facet>
						#{c.name}
					</h:column>
					
				</h:dataTable>
				
			</h:form>
			
			<!-- Edit Form -->
			<div class="ui tiny modal">
				
				<div class="header">
					<h3><h:outputText id="editTitle" value="#{empty categoryBean.category.id ? 'Add' : 'Edit'}" /> Category</h3>
				</div>
				
				<div class="content">
					
					<h:form id="editForm" styleClass="ui form">
						
						<div class="field">
							<label>Name</label>
							<h:inputText value="#{categoryBean.category.name}" p:placeholder="Enter Name" />
						</div>
						
						<h:commandLink styleClass="ui blue button" actionListener="#{categoryBean.save()}">
							<i class="save icon"></i> Save
							<f:ajax execute="@form" render="@form dataTable messages" onevent="hideDialog()"></f:ajax>
						</h:commandLink>
					</h:form>
					
				</div>
			
			</div>
					
		</ui:define>
	
	</ui:composition>
</html>