<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
	
		<ui:define name="content">
			
			
			<div class="ui segment">

				<h3><i class="users icon"></i> Employee Management</h3>

				<!-- Search -->
				<h:form id="searchForm" styleClass="ui form">
					
					<div class="inline fields">
						
						<!-- Role -->
						<div class="field">
							<label>Role</label>
							<h:selectOneMenu styleClass="ui search dropdown" value="#{employeeBean.role}" >
								<f:selectItems value="#{employeeBean.roles}" var="r" itemLabel="#{r}" itemValue="#{r}"></f:selectItems>
							</h:selectOneMenu>
						</div>
						
						<!-- Name -->
						<div class="field">
							<label>Name</label>
							<h:inputText value="#{employeeBean.name}" />
						</div>
						
						<!-- Search Button -->
						<h:commandLink styleClass="ui icon button" actionListener="#{employeeBean.search()}" >
							<i class="search icon"></i> Search
							<f:ajax execute="@form" render="listForm script"></f:ajax>
						</h:commandLink>
						
						<!-- Add Button -->
						<h:commandLink styleClass="ui icon blue button" >
							<i class="plus icon"></i> Add New
							<f:ajax execute="@this" render="editForm script formTitle" onevent="showDialog()" listener="#{employeeBean.addNew()}" ></f:ajax>
						</h:commandLink>
						
					
					</div>
				
				</h:form>
			</div>


			<!-- Table -->
			<h:form id="listForm">
				<h:dataTable styleClass="ui table" value="#{employeeBean.list}" var="emp">
					<h:column>
						<f:facet name="header">Code</f:facet>
						<h:commandLink actionListener="#{employeeBean.editEmployee(emp)}" value="#{emp.loginId}" >
							<f:ajax execute="@this" render="editForm script formTitle" onevent="showDialog()"></f:ajax>
						</h:commandLink>
					</h:column>
	
					<h:column>
						<f:facet name="header">Name</f:facet>
						#{emp.name}
					</h:column>
	
					<h:column>
						<f:facet name="header">Role</f:facet>
						#{emp.role}
					</h:column>
	
					<h:column>
						<f:facet name="header">Phone</f:facet>
						#{emp.contact.phone}
					</h:column>
	
					<h:column>
						<f:facet name="header">Email</f:facet>
						#{emp.contact.email}
					</h:column>
					
				</h:dataTable>	
			</h:form>
					
			<!-- Pop Up -->
			<div class="ui small modal">
			
				<div class="header">
					<h3><h:outputText id="formTitle" value="#{empty employeeBean.employee.loginId ? 'Add' : 'Edit'}" /> Employee</h3>
				</div>
			
				<div class="content">
					<h:form id="editForm" styleClass="ui form">
						<div class="fields">
							<div class="six wide field">
								<label>Employee Name</label>
								<h:inputText p:placeholder="Enter Name" value="#{employeeBean.employee.name}" />
							</div>
							<div class="six wide field">
								<label>Role</label>
								<h:selectOneMenu styleClass="ui search dropdown" value="#{employeeBean.employee.role}">
									<f:selectItems value="#{employeeBean.roles}" var="r" itemValue="#{r}" itemLabel="#{r}" />
								</h:selectOneMenu>
							</div>
							<div class="four wide field">
								<label>Employee Code</label>
								<h:inputText readonly="#{not empty employeeBean.employee.loginId}" p:placeholder="Enter Code" value="#{employeeBean.employee.loginId}" />
							</div>
						</div>
						
						<div class="fields">
							<div class="six wide field">
								<label>Phone</label>
								<h:inputText p:placeholder="Enter Phone" value="#{employeeBean.employee.contact.phone}" />
							</div>
							<div class="ten wide field">
								<label>Email</label>
								<h:inputText p:placeholder="Enter Email" value="#{employeeBean.employee.contact.email}" />
							</div>
						</div>
						
						<div class="fields">
							<div class="six wide field">
								<label>Township</label>
								<h:inputText p:placeholder="Enter Township" value="#{employeeBean.employee.contact.township}" />
							</div>
							
							<div class="ten wide field">
								<label>Address</label>
								<h:inputText p:placeholder="Enter Street Address" value="#{employeeBean.employee.contact.address}" />
							</div>
						</div>
						
						<h:commandLink styleClass="ui primary active button" >
							<f:ajax execute="editForm" render="editForm listForm messages" listener="#{employeeBean.save()}" onevent="hideDialog()"></f:ajax>
							<i class="save icon"></i> Save
						</h:commandLink>
					</h:form>
				</div>
				
			</div>
			
			
		</ui:define>
		
	</ui:composition>
</html>