<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">
			<h3>
				<h:form>
					<i class="icon dollar sign"></i> Price Setting for #{productPriceBean.product.name} 
					<h:commandLink styleClass="ui link icon" actionListener="#{productPriceBean.addPrice()}" >
						<i class="icon add"></i>
						<f:ajax execute="@form" render="editForm" onevent="showDialog()" />
					</h:commandLink>
				</h:form>
			</h3>
		</ui:define>
		
		<ui:define name="content">
			
			<div class="ui grid">
				
				<div class="six wide column">
					<div class="ui segments">
						<!-- Purchase Price -->
						<div class="ui segment">
							<i class="icon paperclip"></i> Purchase Prices
						</div>	
						
						<ui:repeat var="p" value="#{productPriceBean.purchases}">
							<div class="ui secondary segment">
								<h:outputText value="#{p.refDate}" converter="#{localDateConverter}" />
								<h:outputText value="#{p.invoice.shop.name}" />
								<h:outputText value="#{p.price}" />
							</div>
						</ui:repeat>
					</div>
				</div>
							
				<!-- Sell Price -->
				<div class="six wide column">
					<h:panelGroup id="priceList">
						<div class="ui segments">
							<!-- Purchase Price -->
							<div class="ui segment">
								<i class="icon cart plus"></i> Sell Prices
							</div>	
							
							<ui:repeat var="p" value="#{productPriceBean.product.attivePrices}">
								<div class="ui secondary segment">
									<div class="ui grid">
										<div class="ten wide column">
											<h:outputText value="#{p.id.refDate}" converter="#{localDateConverter}" />
										</div>
										<div class="six wide right aligned column">
											<h:outputText value="#{p.price} - MMK" />
										</div>
									</div>
								</div>	
							</ui:repeat>
						</div>
					</h:panelGroup>
				</div>

			</div>
									
			<!-- Edit Form -->
			<div class="ui tiny modal">
				
				<div class="header">
					<h3>Price for <h:outputText id="formTitle" value="#{productPriceBean.product.name}" /></h3>
				</div>
				
				<div class="content">
					<h:form id="editForm" styleClass="ui form">
						
						<div class="fields">
							<div class="field">
								<label>From Date</label>
								<h:inputText value="#{productPriceBean.price.id.refDate}" converter="#{localDateConverter}" p:type="date" />
							</div>
							
							<div class="field">
								<label>Price</label>
								<h:inputText value="#{productPriceBean.price.price}" p:type="number" />
							</div>
							
							<div class="field">
								<div class="formButton"></div>
								<h:commandLink actionListener="#{productPriceBean.savePrice()}" styleClass="ui icon red button" >
									<i class="icon save"></i> Save
									<f:ajax execute="@form" render="messages priceList" onevent="hideDialog()" />
								</h:commandLink>
							</div>
							
						</div>
					</h:form>
				</div>
			
			</div>
			
		
		</ui:define>
			
	</ui:composition>
</html>