<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
			
		<ui:define name="content">
			
			<!-- Search -->
			<div class="ui segment">
				<h3><i class="gift icon"></i> Product Management</h3>
				
				<h:form id="searchForm" styleClass="ui form">
					
					<div class="fields">
						<!-- Category -->
						<div class="field">
							<label>Category</label>
							<h:selectOneMenu value="#{productListBean.category}" converter="#{categoryConverter}" styleClass="ui dropdown" >
								<f:selectItem noSelectionOption="true" itemLabel="Select Category" />
								<f:selectItems value="#{categories}" var="c" itemValue="#{c}" itemLabel="#{c.name}" />
							</h:selectOneMenu>
						</div>
					
						<!-- Name -->
						<div class="field">
							<label>Name</label>
							<h:inputText value="#{productListBean.name}" p:placeholder="Search Name" />
						</div>
						
						<!-- Price From -->
						<div class="field">
							<label>Price From</label>
							<h:inputText value="#{productListBean.from}" p:placeholder="Price From" />
						</div>
						
						<!-- Price To -->
						<div class="field">
							<label>Price To</label>
							<h:inputText value="#{productListBean.to}" p:placeholder="Price To" />
						</div>
						
						<!-- Search Button -->
						<div class="field">
							<div class="formButton"></div>
							<h:commandLink styleClass="ui icon button" actionListener="#{productListBean.search()}" >
								<f:ajax execute="@form" render="tableForm" />
								<i class="search icon"></i> Search
							</h:commandLink>
							
							<!-- Add Button -->
							<h:commandLink styleClass="ui blue icon button" onclick="showDialog()"
								actionListener="#{productListBean.addNew()}" >
								<f:ajax execute="@this" render="editForm script" />
								<i class="plus icon"></i> Add New
							</h:commandLink>
						</div>
					</div>
				</h:form>			
			</div>
			
			<!-- Table -->
			<h:form id="tableForm">
				
				<h:dataTable value="#{productListBean.list}" var="p" styleClass="ui table">
					<h:column>
						<f:facet name="header">ID</f:facet>
						<h:commandLink value="#{p.id}" actionListener="#{productListBean.edit(p)}" >
							<f:ajax execute="@this" render="editForm script" onevent="showDialog()" />
						</h:commandLink>
					</h:column>
					
					<h:column>
						<f:facet name="header">Name</f:facet>
						#{p.name}
					</h:column>
				
					<h:column>
						<f:facet name="header">Category</f:facet>
						#{p.category.name}
					</h:column>

					<h:column>
						<f:facet name="header">Image</f:facet>
						#{p.image}
					</h:column>

					<h:column>
						<f:facet name="header">Current Price</f:facet>
						<h:link outcome="/admin/prices" value="#{empty p.cuttentPrice ? 'No Price Setting' : p.cuttentPrice.price} #{empty p.cuttentPrice ? '' : 'MMK'}" >
							<f:param name="product" value="#{p.id}" />
						</h:link>
					</h:column>

				</h:dataTable>
			
			</h:form>
			
			<!-- Edit Form -->
			<div class="ui mini modal">
				
				<div class="header">
					<h:outputText value="#{empty productListBean.product.id ? 'Add' : 'Edit'} Product" />
				</div>
				
				<div class="content">
					<h:form id="editForm" styleClass="ui form">
					
						<div class="field">
							<label>Category</label>
							<h:selectOneMenu styleClass="ui dropdown" 
								converter="#{categoryConverter}"
								value="#{productListBean.product.category}">
								<f:selectItems value="#{categories}" var="c" itemValue="#{c}" itemLabel="#{c.name}" />
							</h:selectOneMenu>
						</div>
					
						<div class="field">
							<label>Product Name</label>
							<h:inputText value="#{productListBean.product.name}" p:placeholder="Enter Name" />
						</div>

						<div class="field">
							<label>Product Image</label>
							<h:inputText value="#{productListBean.product.image}" p:placeholder="Select Image" />
						</div>
						
						<h:commandLink styleClass="ui blue icon button" actionListener="#{productListBean.save()}">
							<f:ajax execute="@form" render="tableForm messages" onevent="hideDialog()" />
							<i class="save icon"></i> Save
						</h:commandLink>

					</h:form>
				</div>
				
			</div>
		
		</ui:define>
			
	</ui:composition>
</html>