<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">

		<ui:define name="content">
			
			<!-- Search -->
			<div class="ui segment">
				<h3><i class="building icon"></i> Purchase Shops</h3>
				
				<h:form id="searchForm" styleClass="ui form">
					
					<div class="fields">
						<!-- Township -->
						<div class="field">
							<label>Township</label>
							<h:inputText value="#{purchaseShopBean.schTownship}" p:placeholder="Township" />
						</div>
					
						<!-- Shop Name -->
						<div class="field">
							<label>Shop Name</label>
							<h:inputText value="#{purchaseShopBean.schShopName}" p:placeholder="Shop Name" />
						</div>
						
						<!-- Contact Person -->
						<div class="field">
							<label>Contact Person</label>
							<h:inputText value="#{purchaseShopBean.schContactPerson}" p:placeholder="Contact Person" />
						</div>
						
						<!-- Search Button -->
						<div class="field">
							<div class="formButton"></div>
							<h:commandLink styleClass="ui icon button" actionListener="#{purchaseShopBean.search()}" >
								<f:ajax execute="@form" render="tableForm" />
								<i class="search icon"></i> Search
							</h:commandLink>
							
							<!-- Add Button -->
							<h:commandLink styleClass="ui blue icon button" onclick="showDialog()"
								actionListener="#{purchaseShopBean.addNew()}" >
								<f:ajax execute="@this" render="editForm script" />
								<i class="plus icon"></i> Add New
							</h:commandLink>
						</div>
					</div>
				</h:form>			
			</div>			
			
			<!-- Table -->
			<h:form id="tableForm">
				
				<h:dataTable value="#{purchaseShopBean.list}" var="p" styleClass="ui table">
					<h:column>
						<f:facet name="header">ID</f:facet>
						<h:commandLink value="#{p.id}" actionListener="#{purchaseShopBean.edit(p)}" >
							<f:ajax execute="@this" render="editForm script" onevent="showDialog()" />
						</h:commandLink>
					</h:column>
					
					<h:column>
						<f:facet name="header">Name</f:facet>
						#{p.name}
					</h:column>
				
					<h:column>
						<f:facet name="header">Contact Person</f:facet>
						#{p.contactPerson}
					</h:column>

					<h:column>
						<f:facet name="header">Phone</f:facet>
						#{p.contact.phone}
					</h:column>

					<h:column>
						<f:facet name="header">Email</f:facet>
						#{p.contact.email}
					</h:column>

					<h:column>
						<f:facet name="header">Address</f:facet>
						<h:outputText value="#{p.contact.address}, #{p.contact.township}"  />
					</h:column>

				</h:dataTable>
			
			</h:form>
						
			<!-- Edit Form -->
			<div class="ui small modal">
				
				<div class="header">
					<h3><h:outputText id="editTitle" value="#{empty purchaseShopBean.shop.id ? 'Add' : 'Edit'}" /> Category</h3>
				</div>
				
				<div class="content">
					
					<h:form id="editForm" styleClass="ui form">
						
						<div class="field">
							<label>Name</label>
							<h:inputText value="#{purchaseShopBean.shop.name}" p:placeholder="Enter Name" />
						</div>
						
						<div class="fields">
							<div class="field">
								<label>Contact Person</label>
								<h:inputText value="#{purchaseShopBean.shop.contactPerson}" p:placeholder="Enter Name" />
							</div>
	
							<div class="field">
								<label>Phone</label>
								<h:inputText value="#{purchaseShopBean.shop.contact.phone}" p:placeholder="Enter Name" />
							</div>
	
							<div class="ten wide field">
								<label>Email</label>
								<h:inputText value="#{purchaseShopBean.shop.contact.email}" p:placeholder="Enter Name" />
							</div>
						</div>
						
						<div class="fields">
							<div class="four wide field">
								<label>Township</label>
								<h:inputText value="#{purchaseShopBean.shop.contact.township}" p:placeholder="Enter Name" />
							</div>
	
							<div class="twelve wide field">
								<label>Street Address</label>
								<h:inputText value="#{purchaseShopBean.shop.contact.address}" p:placeholder="Enter Name" />
							</div>
	
						</div>						

						<h:commandLink styleClass="ui blue button" actionListener="#{purchaseShopBean.save()}">
							<i class="save icon"></i> Save
							<f:ajax execute="@form" render="@form tableForm messages" onevent="hideDialog()"></f:ajax>
						</h:commandLink>
					</h:form>
					
				</div>
			
			</div>		
		</ui:define>

	</ui:composition>
</html>