<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">

		<ui:define name="title">
			<h3>Invoice Registration</h3>
		</ui:define>
		
		<ui:define name="content">
			
			<h:form styleClass="ui form">
				<!-- Shop Info -->
				<div class="ui grid">
					
					<div class="twelve wide column">
						<div class="ui vertical segment">						
							<div class="ui header"><i class="icon building outline"></i> Shop Info</div>
							
							<div class="content">
								

								<div class="fields">
									<!-- Shop Name -->
									<div class="eight wide field">
										<label>Shop Name</label>
										<div class="ui action input">
											<h:inputText id="shopName" value="#{purchaseEditBean.shop.name}" p:placeholder="Enter Shop Name" />
											<h:commandLink actionListener="#{purchaseEditBean.searchShop()}" styleClass="ui red icon button" >
												<i class="icon search"></i>
												<f:ajax execute="shopName" render="@form script messages" />
											</h:commandLink>
										</div>
									</div>
									
									<!-- Contact Person -->
									<div class="eight wide field">
										<label>Contact Person</label>
										<h:inputText value="#{purchaseEditBean.shop.contactPerson}" p:placeholder="Enter Contact Person"/>
									</div>
								</div>
								
								<div class="fields">
									<!-- Phone -->
									<div class="eight wide field">
										<label>Phone Number</label>
										<h:inputText value="#{purchaseEditBean.shop.contact.phone}" p:placeholder="Enter Phone Number" />
									</div>
									
									<!-- Email -->
									<div class="eight wide field">
										<label>Email Address</label>
										<h:inputText value="#{purchaseEditBean.shop.contact.email}" p:placeholder="Enter Email Address"/>
									</div>
								</div>

								<div class="fields">
									<!-- Township -->
									<div class="six wide field">
										<label>Township</label>
										<h:inputText value="#{purchaseEditBean.shop.contact.township}" p:placeholder="Enter Township" />
									</div>
									
									<!-- Address -->
									<div class="ten wide field">
										<label>Address</label>
										<h:inputText value="#{purchaseEditBean.shop.contact.address}" p:placeholder="Enter Email Address"/>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Purchase Item -->
						<div class="ui vertical segment">
		
							<div class="ui header"><i class="icon shop"></i> Purchase Items</div>

							<!-- Add Purchase Item -->
							<div class="fields">
								
								<!-- Category -->
								<div class="field">
									<label>Category</label>
									<h:selectOneMenu id="itemCategory" styleClass="ui dropdown" value="#{purchaseEditBean.item.product.category}" converter="#{categoryConverter}">
										<f:selectItems value="#{categories}" var="c" itemLabel="#{c.name}" itemValue="#{c}" />
									</h:selectOneMenu>
								</div>
								
								<!-- Name -->
								<div class="field">
									<label>Name</label>
									<h:inputText id="itemName" value="#{purchaseEditBean.item.product.name}" p:placeholder="Name"/>
								</div>
								
								<!-- Unit Price -->
								<div class="field">
									<label>Unit Price</label>
									<h:inputText id="itemUnitPrice" value="#{purchaseEditBean.item.price}" p:placeholder="Unit Price">
										<f:ajax execute="@this" render="itemTotalPrice" />
									</h:inputText>
								</div>
								
								<!-- Count -->
								<div class="field">
									<label>Count</label>
									<h:inputText id="itemQuentity" value="#{purchaseEditBean.item.quentity}" p:placeholder="Count">
										<f:ajax execute="@this" render="itemTotalPrice" />
									</h:inputText>
								</div>
								
								<!-- Price -->
								<div class="field">
									<label>Price</label>
									<h:inputText id="itemTotalPrice" readonly="true" value="#{purchaseEditBean.item.total}" p:placeholder="Price"/>
								</div>
								
								<!-- Add Button -->
								<div class="field">
									<div class="formButton" />
									<h:commandLink styleClass="ui icon red button" >
										<i class="icon plus cart"></i>
										<f:ajax execute="itemCategory itemName itemUnitPrice itemQuentity" render="@form script messages" listener="#{purchaseEditBean.addItem()}" />
									</h:commandLink>
								</div>
							
							</div>					
							
							<!-- Item Table -->			
							<h:dataTable styleClass="ui table segment" value="#{purchaseEditBean.invoice.items}" var="item" >
								
								<h:column>
								<f:facet name="header">Item</f:facet>
								<h:outputText value="#{item.product.name}" />
								</h:column>
							
								<h:column>
									<f:facet name="header">Category</f:facet>
									<h:outputText value="#{item.product.category.name}" />
								</h:column>
		
								<h:column>
									<f:facet name="header">Unit Price</f:facet>
									<h:outputText value="#{item.price}" />
								</h:column>
		
								<h:column>
									<f:facet name="header">Count</f:facet>
									<h:outputText value="#{item.quentity}" />
								</h:column>
		
								<h:column>
									<f:facet name="header">Price</f:facet>
									<h:outputText value="#{item.total}" />
								</h:column>
		
								<h:column>
									<h:commandLink styleClass="link icon" >
										<i class="icon delete"></i>
										<f:ajax execute="@this" render="@form" listener="#{purchaseEditBean.deleteItem(item)}" />
									</h:commandLink>
								</h:column>
		
							</h:dataTable>
								
						</div>	

						<!-- Paid History -->						
						<div class="ui vertical segment">

							<div class="ui header"><i class="icon history"></i> Paid History</div>
							
							<div class="fields">
								
								<div class="field">
									<label>Date</label>
									<h:inputText id="paidDate" p:type="date" converter="#{localDateConverter}" value="#{purchaseEditBean.paid.id.refDate}" />
								</div>
							
								<div class="field">
									<label>Last Remain</label>
									<h:inputText id="paidLastRemain" value="#{purchaseEditBean.paid.lastRemain}" readonly="true" />
								</div>

								<div class="field">
									<label>Paid</label>
									<h:inputText id="paidPaid" value="#{purchaseEditBean.paid.paid}" />
								</div>

								<div class="six wide field">
									<label>Remark</label>
									<h:inputText id="paidRemark" value="#{purchaseEditBean.paid.remark}" />
								</div>

								<!-- Add Button -->
								<div class="field">
									<div class="formButton" />
									<h:commandLink styleClass="ui icon red button" >
										<i class="icon plus"></i>
										<f:ajax execute="paidDate paidLastRemain paidPaid paidRemark" render="@form script messages" listener="#{purchaseEditBean.addPaid()}" />
									</h:commandLink>
								</div>

							</div>
							
							<h:dataTable styleClass="ui table" value="#{purchaseEditBean.paidList}" var="p">
								<h:column>
									<f:facet name="header">
										Paid Date
									</f:facet>
									<h:outputText value="#{p.id.refDate}" converter="#{localDateConverter}" />
								</h:column>

								<h:column>
									<f:facet name="header">
										Last Remain
									</f:facet>
									<h:outputText value="#{p.lastRemain}"  />
								</h:column>

								<h:column>
									<f:facet name="header">
										Paid Anount
									</f:facet>
									<h:outputText value="#{p.paid}"  />
								</h:column>

								<h:column>
									<f:facet name="header">
										Remark
									</f:facet>
									<h:outputText value="#{p.remark}" />
								</h:column>
								
								<h:column>
									<h:commandLink styleClass="link icon" actionListener="#{purchaseEditBean.deletePaid(p)}" >
										<f:ajax execute="@this" render="@form script messages" />
										<i class="icon delete"></i>
									</h:commandLink>
								</h:column>
							</h:dataTable>
						
						</div>
											
						
					</div>
					
					<div class="four wide column">
						<div class="ui vertical segment">
							<div class="ui header"><i class="icon dollar sign"></i> Paid Info</div>
							
							<div class="content">
								
								<!-- Date -->
								<div class="field">
									<label>Invoice Date</label>
									<h:inputText value="#{purchaseEditBean.invoice.refDate}" converter="#{localDateConverter}" p:type="date" >
										<f:ajax execute="@this" render="@this" />							
									</h:inputText>
								</div>

								<!-- Sub Total -->
								<div class="field">
									<label>Sub Total</label>
									<h:inputText readonly="true" value="#{purchaseEditBean.invoice.subTotal}" p:placeholder="Sub Total"/>
								</div>
								
								<!-- Tax -->
								<div class="field">
									<label>Tax</label>
									<h:inputText readonly="true" value="#{purchaseEditBean.invoice.tax}" p:placeholder="Tax"/>
								</div>
							
								<!-- Transportation charges -->
								<div class="field">
									<label>Transportation</label>
									<h:inputText value="#{purchaseEditBean.invoice.transport}" p:placeholder="Transportation Fees">
										<f:ajax execute="@this" render="@this" />
									</h:inputText>
								</div>
								
								<!-- Total -->
								<div class="field">
									<label>Total</label>
									<h:inputText readonly="true" value="#{purchaseEditBean.invoice.total}" p:placeholder="Total"/>
								</div>
							
								<div class="field">
									<label>Paid</label>
									<h:inputText readonly="true" value="#{purchaseEditBean.paidAmount}" p:placeholder="Total"/>
								</div>

								<div class="field">
									<label>Remain</label>
									<h:inputText readonly="true" value="#{purchaseEditBean.remainAmount}" p:placeholder="Total"/>
								</div>
									
								<!-- Save Button -->
								<div class="field">
									<h:commandLink action="#{purchaseEditBean.save()}" styleClass="ui red icon button">
										<i class="icon save outline"></i> Save
									</h:commandLink>
								</div>
							
							
							</div>
						</div>
					</div>
				</div>
			
			
			</h:form>
			
		</ui:define>
	</ui:composition>
</html>