<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">

		<ui:define name="content">
			
			<!-- Search -->
			<div class="ui segment">
				<h3><i class="paperclip icon"></i> Purchase Management</h3>
				
				<h:form id="searchForm" styleClass="ui form">
					
					<div class="fields">
					
						<!-- Name -->
						<div class="field">
							<label>Shop Name</label>
							<h:inputText value="#{purchaseListBean.schShop}" p:placeholder="Shop Name" />
						</div>
						
						<!-- Date From -->
						<div class="field">
							<label>Date From</label>
							<h:inputText value="#{purchaseListBean.dateFrom}" p:type="date" converter="#{localDateConverter}" p:placeholder="Date From" />
						</div>
						
						<!-- Date To -->
						<div class="field">
							<label>Date To</label>
							<h:inputText value="#{purchaseListBean.dateTo}" p:type="date" converter="#{localDateConverter}" p:placeholder="Date To" />
						</div>
						
						<!-- Search Button -->
						<div class="field">
							<div class="formButton"></div>
							<h:commandLink styleClass="ui icon button" actionListener="#{purchaseListBean.search()}" >
								<f:ajax execute="@form" render="table" />
								<i class="search icon"></i> Search
							</h:commandLink>
							
							<!-- Add Button -->
							<h:link outcome="/admin/purchase-edit" styleClass="ui blue icon button"  >
								<i class="plus icon"></i> Add New
							</h:link>
						</div>
					</div>
				</h:form>			
			</div>
			
						
			<!-- Table -->
			<h:dataTable value="#{purchaseListBean.list}" var="p" styleClass="ui table" id="table"> 
				
				<h:column>
					<f:facet name="header">ID</f:facet>
					<h:link outcome="/admin/purchase-edit" value="#{p.id}">
						<f:param name="id" value="#{p.id}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">Date</f:facet>
					<h:outputText value="#{p.refDate}" converter="#{localDateConverter}" />
				</h:column>
				
				<h:column>
					<f:facet name="header">Shop</f:facet>
					<h:outputText value="#{p.shop.name}" />
				</h:column>

				<h:column>
					<f:facet name="header">Contact</f:facet>
					<h:outputText value="#{p.shop.contactPerson}" />
				</h:column>

				<h:column>
					<f:facet name="header">Phone</f:facet>
					<h:outputText value="#{p.shop.contact.phone}" />
				</h:column>

				<h:column>
					<f:facet name="header">Sub Total</f:facet>
					<h:outputText value="#{p.subTotal} MMK" />
				</h:column>

				<h:column>
					<f:facet name="header">Tax</f:facet>
					<h:outputText value="#{p.tax} MMK" />
				</h:column>

				<h:column>
					<f:facet name="header">Total</f:facet>
					<h:outputText value="#{p.total} MMK" />
				</h:column>
			</h:dataTable>
			
		</ui:define>

	</ui:composition>
</html>