<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title><ui:insert name="title"></ui:insert></title>
	
	<link rel="stylesheet" href="../resources/css/semantic.css" />
	
	<h:outputStylesheet library="css" name="semantic.css" />
	<h:outputStylesheet library="css" name="application.css" />
	<h:outputScript library="js" name="jquery.min.js"></h:outputScript>
	<h:outputScript library="js" name="semantic.min.js"></h:outputScript>
</h:head> 
<body> 
	
	<!-- Navigation  -->
	<div class="ui menu">
		<h:link outcome="/views/home" styleClass="item">
			<i class="icon home"></i> Home
		</h:link>
		
		<h:panelGroup rendered="#{request.isUserInRole('Admin')}">
			<div class="ui dropdown item">
				Students <i class="dropdown icon"></i>
				<div class="menu">
					<h:link outcome="/views/admin/student-registration" styleClass="item">
						<i class="icon user plus"></i> Add Student
					</h:link>
					<h:link outcome="/views/admin/student-list" styleClass="item">
						<i class="icon users"></i> Student List
					</h:link>
				</div>
			</div>
			
			<div class="ui dropdown item">
				Reports <i class="dropdown icon"></i>
				<div class="menu">
					<h:link outcome="/views/admin/report-leaves" styleClass="item">
						<i class="first aid icon"></i> Leaves
					</h:link>
					<h:link outcome="/views/admin/report-attendance" styleClass="item">
						<i class="icon clock"></i> Attendances
					</h:link>
				</div>
			</div>
			
			<div class="ui dropdown item">
				Management <i class="dropdown icon"></i>
				<div class="menu">
					<h:link outcome="/views/admin/manage-room" styleClass="item">
						<i class="building outline icon"></i> Rooms
					</h:link>
					<h:link outcome="/views/admin/manage-year" styleClass="item">
						<i class="icon calendar"></i> Education Years
					</h:link>
					<h:link outcome="/views/admin/manage-year-grade" styleClass="item">
						<i class="flag outline icon"></i> Yearly Grades
					</h:link>
					<h:link outcome="/views/admin/manage-year-room" styleClass="item">
						<i class="icon building"></i> Yearly Rooms
					</h:link>
				</div>
			</div>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{request.isUserInRole('Student')}">
			<div class="ui dropdown item">
				Student <i class="icon dropdown"></i>
				<div class="menu">
					<h:link outcome="/views/student/profile" styleClass="item">
						<i class="user icon"></i> Profile
					</h:link>
					<h:link outcome="/views/student/attendance" styleClass="item">
						<i class="icon calendar check outline"></i> Attendances
					</h:link>
					<h:link outcome="/views/student/leaves" styleClass="item">
						<i class="icon calendar minus outline"></i> Leaves
					</h:link>
				</div>
			</div>
		</h:panelGroup>

		<div class="right menu">
			<h:link rendered="#{empty request.remoteUser}" outcome="/views/login" styleClass="item">
				<i class="sign in alternate icon"></i> Login
			</h:link>
			<h:form>
				<h:commandLink rendered="#{not empty request.remoteUser}" styleClass="item" action="#{loginBean.logout()}">
					<i class="sign out alternate icon"></i> Logout
				</h:commandLink>
			</h:form>
		</div>
	</div>
		
	<!-- Contents -->
	<div class="ui container">
		<ui:insert name="content"></ui:insert>
	</div>
	
	<script>
		$(function(){
			$('.ui.dropdown').dropdown();
		});
	</script>
	
</body> 
</html>
