<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		
		<ui:define name="content">
			
			<!-- Search -->
			<div class="ui segment">
				<h3><i class="icon warehouse"></i> Warehouse Management</h3>
				
				<h:form id="searchForm" styleClass="ui form">
					
					<div class="fields">
					
						<!-- Category -->
						<div class="field">
							<label>Category</label>
							<h:selectOneMenu value="#{inventoryBean.category}" converter="#{categoryConverter}" styleClass="ui dropdown">
								<f:selectItem itemLabel="Select All"/>
								<f:selectItems value="#{categories}" var="c" itemLabel="#{c.name}" itemValue="#{c}" />
							</h:selectOneMenu>
						</div>
						
						<div class="field">
							<label>Product</label>
							<h:inputText value="#{inventoryBean.productName}" p:placeholder="Product Name" />
						</div>

						<!-- Date From -->
						<div class="field">
							<label>Date From</label>
							<h:inputText value="#{inventoryBean.dateFrom}" p:type="date" converter="#{localDateConverter}" p:placeholder="Date From" />
						</div>
						
						<!-- Date To -->
						<div class="field">
							<label>Date To</label>
							<h:inputText value="#{inventoryBean.dateTo}" p:type="date" converter="#{localDateConverter}" p:placeholder="Date To" />
						</div>
						
						<!-- Search Button -->
						<div class="field">
							<div class="formButton"></div>
							<h:commandLink styleClass="ui icon button" actionListener="#{inventoryBean.search()}" >
								<f:ajax execute="@form" render="table" />
								<i class="search icon"></i> Search
							</h:commandLink>
						</div>
					</div>
				</h:form>			
			</div>			

			<!-- Table -->
			<h:dataTable id="table" value="#{inventoryBean.list}" var="item" styleClass="ui table">
			
				<h:column>
					<f:facet name="header">Type</f:facet>
					<h:outputText value="#{item.action}" />
				</h:column>
			
				<h:column>
					<f:facet name="header">Date</f:facet>
					<h:outputText value="#{item.refDate}" converter="#{localDateConverter}" />
				</h:column>
				
				<h:column>
					<f:facet name="header">Category</f:facet>
					<h:outputText value="#{item.product.category.name}" />
				</h:column>

				<h:column>
					<f:facet name="header">Product</f:facet>
					<h:outputText value="#{item.product.name}" />
				</h:column>
				
				<h:column>
					<f:facet name="header">Unit Price</f:facet>
					<h:outputText value="#{item.price}" />
				</h:column>

				<h:column>
					<f:facet name="header">Count</f:facet>
					<h:outputText value="#{item.quentity}" />
				</h:column>

			</h:dataTable>
			
		
		</ui:define>
			
	</ui:composition>
</html>