<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/WEB-INF/template.xhtml">

	<ui:define name="title">
		<h3><i class="cart icon"></i> Sale Reports</h3>
	</ui:define>

	<ui:define name="content">

		<!-- Search -->

		<!-- Table -->

		<!-- Edit Form -->

	</ui:define>

</ui:composition>
</html>