<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">

		<ui:define name="title">Login</ui:define>
		
		<ui:define name="content">
		
			<div class="ui centered grid">
				<div class="six wide column">
					
					<div class="marTop120"></div>

					<div class="ui segments">
						
						<div class="ui green inverted segment">
							<h3 class="header">Member Login</h3>
						</div>
					
						<h:form styleClass="ui form padded segment">
							
							<div class="field">
								<h:messages showSummary="false" showDetail="true" />
							</div>
					
							<div class="field">
								<label>Login Id</label>
								<h:inputText value="#{loginBean.loginId}" p:placeholder="Enter Login Id" />
							</div>
							
							<div class="field">
								<label>Password</label>
								<h:inputSecret value="#{loginBean.password}" p:placeholder="Enter Password" />
							</div>
							
							<h:commandLink action="#{loginBean.login()}" styleClass="ui right labeled icon inverted red button" >
								Login
								<i class="icon sign in"></i>
							</h:commandLink>
						</h:form>
					</div>
					
				</div>
			
			</div>
			
		</ui:define>
		
	</ui:composition>
</html>