<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough" 
      xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">#{balanceEditBean.title}</ui:define>
		
		<ui:define name="content">
			
			<div class="pageTitle">
				<h3>#{balanceEditBean.title}</h3>
			</div>
			
			<h:form styleClass="ui form">
				
				
				<div class="fields">

					<div class="field">
						<label>Balance Type</label>
						<h:selectOneMenu value="#{balanceEditBean.balance.type}"
							styleClass="ui dropdown">
							<f:selectItem itemLabel="Select Type" noSelectionOption="true"/>
							<f:selectItems value="#{types}" var="t" itemLabel="#{t}" itemValue="#{t}" />
							<f:ajax execute="@this" render="@form commonScript" />
						</h:selectOneMenu>
					</div>
					
					<div class="field">
						<label>Use Date</label>
						<h:inputText value="#{balanceEditBean.balance.refDate}" 
							p:type="date"
							converter="#{localDateConverter}">
							<f:ajax execute="@this" />
						</h:inputText>
					</div>
					
					<div class="field">
						<div class="marTop24"></div>
						<div class="fields">
							<div class="field">
								<h:commandLink styleClass="ui icon button" actionListener="#{balanceEditBean.addDetails()}">
									<f:ajax execute="@form" render="@form"></f:ajax>
									<i class="icon plus"></i> Add Details
								</h:commandLink>
							</div>		
							<div class="field">
								<h:commandLink styleClass="ui icon button" actionListener="#{balanceEditBean.removeChecks()}">
									<f:ajax execute="@form" render="@form"></f:ajax>
									<i class="icon delete"></i> Delete Details
								</h:commandLink>
							</div>		
							<div class="field">
								<h:commandLink styleClass="ui icon button" action="#{balanceEditBean.save()}">
									<i class="icon save"></i> Save
								</h:commandLink>
							</div>		
						</div>
						
					</div>
				
				</div>
				
				<h:dataTable value="#{balanceEditBean.balance.detailsList}" var="d"
					styleClass="ui table">
					
					<h:column>
						<f:facet name="header"></f:facet>
						<h:selectBooleanCheckbox value="#{d.check}" />
					</h:column>

					<h:column>
						<f:facet name="header">Category</f:facet>
						<h:selectOneMenu value="#{d.category}" converter="#{categoryConverter}" styleClass="ui dropdown">
							<f:selectItems value="#{balanceEditBean.categories}" var="c" itemLabel="#{c.name}" itemValue="#{c}" />
						</h:selectOneMenu>
					</h:column>
					
					<h:column>
						<f:facet name="header">Reason</f:facet>
						<h:inputText value="#{d.reason}" />
					</h:column>

					<h:column>
						<f:facet name="header">Amount</f:facet>
						<h:inputText value="#{d.amount}" />
					</h:column>
					
				</h:dataTable>
				
			</h:form>
		
		</ui:define>
		
	</ui:composition>
</html>