<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/WEB-INF/template.xhtml">

	<ui:define name="title">Balances</ui:define>

	<ui:define name="content">

		<div class="pageTitle">
			<h3>Balance List</h3>
		</div>

		<h:form styleClass="ui form">

			<div class="fields">

				<div class="field">
					<label>Balance Type</label>
					<h:selectOneMenu value="#{balanceListBean.type}"
						converter="#{typeConverter}" styleClass="ui dropdown">
						<f:selectItem itemLabel="All Type" />
						<f:selectItems value="#{types}" var="t" itemValue="#{t}"
							itemLabel="#{t.name()}" />
						<f:ajax execute="@form" render="@form commonScript"></f:ajax>
					</h:selectOneMenu>
				</div>

				<div class="field">
					<label>Category</label>
					<h:selectOneMenu value="#{balanceListBean.category}"
						converter="#{categoryConverter}" styleClass="ui dropdown">
						<f:selectItem itemLabel="All Category" />
						<f:selectItems value="#{balanceListBean.categories}" var="c"
							itemValue="#{c}" itemLabel="#{c.name}" />
					</h:selectOneMenu>
				</div>


				<div class="field">
					<label>Date From</label>
					<h:inputText value="#{balanceListBean.dateFrom}"
						converter="#{localDateConverter}" p:type="date" />
				</div>

				<div class="field">
					<label>Date To</label>
					<h:inputText value="#{balanceListBean.dateTo}"
						converter="#{localDateConverter}" p:type="date" />
				</div>

				<div class="field">
					<div class="marTop24"></div>
					<h:commandLink actionListener="#{balanceListBean.search()}"
						styleClass="ui icon red button">
						<i class="icon search"></i> Search
							<f:ajax execute="@form" render="table" />
					</h:commandLink>
				</div>

			</div>

		</h:form>

		<h:form id="table" >
			<h:dataTable styleClass="ui table"
				value="#{balanceListBean.list}" var="b">

				<h:column>
					<f:facet name="header">Date</f:facet>
					<h:outputText value="#{b.balance.refDate}"
						converter="#{localDateConverter}" />
				</h:column>

				<h:column>
					<f:facet name="header">Member</f:facet>
					#{b.balance.member.name}
				</h:column>

				<h:column>
					<f:facet name="header">Category</f:facet>
					#{b.category.name}
				</h:column>

				<h:column>
					<f:facet name="header">Details</f:facet>
					#{b.category.name}
				</h:column>

				<h:column>
					<f:facet name="header">Income</f:facet>
					#{b.category.type eq 'Income' ? b.amount : ''}
				</h:column>

				<h:column>
					<f:facet name="header">Expense</f:facet>
					#{b.category.type eq 'Expense' ? b.amount : ''}
				</h:column>

				<h:column>
					<f:facet name="header">Balance</f:facet>
					#{b.total}
				</h:column>

				<h:column>
					<h:commandLink actionListener="#{balanceListBean.delete(b.id)}" >
						<f:ajax execute="@this" render="@form" />
						<i class="icon delete"></i>
					</h:commandLink>
					<h:link outcome="/views/member/balance-edit">
						<f:param name="id" value="#{b.balance.id}" />
						<i class="icon edit"></i>
					</h:link>
				</h:column>

			</h:dataTable>
		</h:form>

	</ui:define>

</ui:composition>
</html>