<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	

	</ui:composition>
</html>