<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
		
		<ui:define name="title">Category Management</ui:define>
		
		<ui:define name="content">
			<div class="pageTitle">
				<h3>Category Management</h3>
			</div>
			
			<h:form styleClass="ui form">
			
				<div class="fields">
					
					<div class="field">
						<label>Type</label>
						<h:selectOneMenu value="#{categoryBean.category.type}" styleClass="ui dropdown">
							<f:selectItems value="#{types}" var="t" itemLabel="#{t}" itemValue="#{t}" />
						</h:selectOneMenu>
					</div>
					
					<div class="field">
						<label>Name</label>
						<h:inputText value="#{categoryBean.category.name}" p:placeholder="Enter Category Name" />
					</div>
					
					<div class="field">
						<div class="marTop24"></div>
						<h:commandLink actionListener="#{categoryBean.save()}" 
							styleClass="ui icon button" >
							<f:ajax execute="@form" render="@all" />
							<i class="icon plus"></i> Add New
						</h:commandLink>
					</div>
				</div>
			
			</h:form>
			
			<h:dataTable id="table" value="#{categories}" var="c" styleClass="ui table">
				
				<h:column>
					<f:facet name="header">ID</f:facet>
					#{c.id}
				</h:column>
			
				<h:column>
					<f:facet name="header">Type</f:facet>
					#{c.type}
				</h:column>

				<h:column>
					<f:facet name="header">Name</f:facet>
					#{c.name}
				</h:column>

			</h:dataTable>

		</ui:define>
	

	</ui:composition>
</html>