<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough" 
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ui:composition template="/WEB-INF/template.xhtml">
	
		<ui:define name="title">Members</ui:define>
		
		<ui:define name="content">
			
			<div class="pageTitle">
				<h3>Member Management</h3>
			</div>
			
			<h:form styleClass="ui form">
				
				<div class="ui fields">
					
					<div class="field">
						<label>Role</label>
						<h:selectOneMenu styleClass="ui dropdown" value="#{memberManageBean.schRole}">
							<f:selectItem itemLabel="All Role" noSelectionOption="true" />
							<f:selectItems value="#{roles}" var="r" itemValue="#{r}" itemLabel="#{r}" />
						</h:selectOneMenu>
					</div>
					
					<div class="field">
						<label>Name</label>
						<h:inputText value="#{memberManageBean.schName}" p:placeholder="Mamber Name" />
					</div>
					
					<div class="field">
						<div class="marTop24"></div>
						<h:commandLink styleClass="ui icon button" actionListener="#{memberManageBean.search()}" >
							<f:ajax execute="@form" render="resultTable" />
							<i class="icon search"></i> Search
						</h:commandLink>
					</div>
					
				</div>
				
				
			</h:form>
			
			<h:dataTable id="resultTable" value="#{memberManageBean.list}" var="m" styleClass="ui table" >
				
				<h:column>
					<f:facet name="header">Name</f:facet>
					#{m.name}
				</h:column>
				
				<h:column>
					<f:facet name="header">Role</f:facet>
					#{m.role}
				</h:column>

				<h:column>
					<f:facet name="header">Login Id</f:facet>
					#{m.loginId}
				</h:column>

			</h:dataTable>
			
		</ui:define>
	</ui:composition>
</html>